<div style="width: 300px;">

</div>

<div style="width:300px;">
  <div style="position: relative; background-color: #eeeeee; height: 50px; ">
    <img src="../../webapp/resources/images/userIMG/aaaa.jpg"
         style="position: relative; width:35px; height: 35px;float: left; top: 10%; margin: auto; vertical-align: middle; "/>
    &nbsp;
    <!--<input type="text" style="position: relative; margin: 0 auto;  vertical-align: middle;"/>-->
    <!-- message 필드와 post 메소드를 출력. 사용자 입력 대기-->
    <!-- fields는 메세지를 입력받기 위해 대기한다. Input 창이 생성됨.-->
    <%= fields.message.here() %>
    <!-- methods는 버튼 기능을 생성한다.-->
    <%= methods.post.here() %>

  </div>
  <br>

</div>