<div style="width: 300px;">

</div>

<div style="width:300px;">
  <div style="position: relative; background-color: #eeeeee; height: 50px; ">
    <img src="../../webapp/resources/images/userIMG/aaaa.jpg"
         style="position: relative; width:35px; height: 35px;float: left; top: 10%; margin: auto; vertical-align: middle; "/>
    &nbsp;
    <!--<input type="text" style="position: relative; margin: 0 auto;  vertical-align: middle;"/>-->
    <!-- value는 메세지를 출력하고 종료한다.-->
    <%= value.message%>

  </div>
  <br>

</div>